.container {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  padding-bottom:30px;
}

.chart-container {
  width: 75%;
  height: 90%;
}

.duration{
  padding-top:10px;
  font-size: 16px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  color:indigo;
  
}
.duration:hover{
  cursor: pointer;
}
.dur{
  padding:10px;
}

.dur:hover{
  background-color:lightblue;
}
.price{
  padding: 10px;
  text-decoration:solid;
  font-size: 20px;
  color:rgb(255, 136, 0);
  font-weight: 900;
}

.currency{
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  text-align-last: center;
  }

  .footer{
    font-size: 14px;
    font-weight: 600;
   color: #000 !important;
   text-decoration: none !important;
  }

 .links{
   align-items: center;
   padding: 8px;
   font-size: 10px;
   font-weight: 500;

   

 } 

 .error{
   padding-top:20px;
   padding-bottom: 20px;
 }

  body{
    background-color:rgb(251, 248, 235);
  }
